/* Styles */
.gameDesk {
  background-image: url(/public/assets/img/bg-desk.png);
  height: 60vh;
}

.container {
  box-sizing: border-box;
}

.btn-new {
  background-color: #167b43;
  width: 40%;
}

.btn-throw {
  background-color: #a70d0d;
  width: 40%;
}

@media (min-width: 767px) {
  .btn-new {
    width: 20%;
  }

  .btn-throw {
    width: 20%;
  }
}
/* ---------------------page d'accueil */

@font-face {
    font-family: 'jockey';
    src: url(/public/assets/fonts/JockeyOne-Regular.ttf);
}

@media (min-width: 992px) { 
    .buttonAccueil {
      width: 100%;         
      max-width: 300px;    
      font-size: 1.5rem;   
    }
  }

  body{
    background-color:black;
}

.buttonAccueil{
    background-color: #01401c;
    font-family: 'jockey';
    border: 2px solid #A70D0D;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}
.buttonAccueil:hover {
    background-color: #012e15;
}



.modal-content{
    background-color: #01401c;
    font-family:'Courier New', Courier, monospace;
    border: #A70D0D;

}
