@font-face {
  font-family: "Courrier";
  src: url(/public/assets/fonts/courier.ttf);
}

@font-face {
  font-family: "Jockey";
  src: url(/public/assets/fonts/JockeyOne-Regular.ttf);
}

body {
  background-color: #000 !important;
}

header {
  margin-top: 1em;
}

header img {
  max-width: 100px;
}

div {
  p {
    font-size: 8em;
    cursor: pointer;
  }
}

.dice-container {
  background-color: rgba(217, 217, 217, 0.2) !important;
  width: 2.8em;
  height: 2.8em;
  img {
    width: 2.8em;
    height: 2.8em;
  }
}

.container-throw {
  .dice {
    animation: animeThrowDice 0.5s;
  }
}

.dice {
  width: 4em;
  height: 4em;
}

@keyframes animeThrowDice {
  0% {
    transform: translateY(250px) rotate(2500deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.container-selected {
  position: absolute;
  bottom: 5%;
}

/* Styles */
.bg-silver {
  background-color: #d9d9d9 !important;
}

.border-image-wood {
  background-image: url(/public/assets/img/border.jpg);
  background-position: 20%;
  padding: 1.2em;
  margin-bottom: 2em;
}

.gameDesk {
  background-image: url(/public/assets/img/bg-desk.png);
  height: 60vh;
  position: relative;
  padding: 2em;
}

.container-buttons {
  font-family: "Jockey";
}

.container {
  box-sizing: border-box;
}

.btn-new {
  background-color: #167b43;
  width: 40%;
}

.btn-throw {
  background-color: #a70d0d;
  width: 40%;
}

table {
  font-family: "Courier";
  margin: auto;
  width: 90%;
  th,
  tr,
  td {
    padding: 0.4em;
    border: 1px solid black;
  }
  thead {
    tr {
      text-align: center;
    }
  }
}

@media (min-width: 767px) {
  .dice-container {
    width: 5em;
    height: 5em;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .dice {
    width: 5em;
    height: 5em;
  }

  .btn-new {
    width: 20%;
  }

  .btn-throw {
    width: 20%;
  }
}